<h1>This is stupid coach exercise!</h1>


<form action="answer" data-turbo="false">
  <input type="text" name="question" placeholder="Ask your question please?">
  <input type="submit" value="Ask!">
</form>
